main {
    background-image: url('../img/fondo-pag-speciali.jpg');
}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        background-color: #fff;
        width: calc(100% / 3 - 20px);
        margin: 10px;

        img {
            width: 100%;
        }
    }
}